@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Young Serif", serif;
}

.search input {
  margin-right: 0.5em;
  padding: 0.5rem;
}
@media (max-width: 600px) {
  .search input {
    margin-right: 0;
    margin-bottom: 0.5em;
  }
  .search input,
  .search button {
    width: 100%;
  }
}

.profile {
  display: flex;
  margin-top: 2em;
}

@media (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
}

.profile-image {
  margin-right: 2em;
}

@media (max-width: 600px) {
  .profile-image {
    max-width: 100%;
    margin: 0 auto;
  }
}

.back a {
  color: blue;
  text-decoration: underline;
}